<!DOCTYPE html>
<html>
<head>
  <title>Thermostat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="thermostat.js" type="text/javascript"></script>
  <script src="jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link href="css/style2.css" rel="stylesheet">
  <!-- <link href="css/reset.css" rel="stylesheet"> -->
</head>
<body>
  <section class = "middle">
    <div id="quick-view">
      <section id="usageColor" class="high-usage medium-usage low-usage">
        <h1>Your favourite Thermostat</h1>
        <h1><span id="Temperature"></span><span id="celsius">°C</span></h1>
        <form id="select-city">
          <input id="current-city" type="text" placeholder="Enter your city"></input>
          <input type="submit" value ="Search"></input>
        </form>
      </section>
  <section class = "tempButtons">
    <button id="increaseTemperature">+</button>
    <button id="decreaseTemperature">-</button>
    <button id="resetTemperature">↺</button>
  </section>
  <section class = "PSM">
    <h1 id="isPowerModeOn"> Power Saving Mode</h1>
  </section>
  <section class = "PSM-buttons">
   <button id="powerModeOn">On</button>
   <button id="powerModeOff">Off</button>
  </section>
</section>

<script type="text/javascript">
$(document).ready(function() {
  var thermostat = new Thermostat();

  $('#select-city').submit(function(event) {
    event.preventDefault();
    var city = $('#current-city').val();
    $.get('http://api.openweathermap.org/data/2.5/weather?q=' + city + '&appid=7fd8be3aa80d32da727582fffc53b9bd&units=metric', function(data) {
      $('#Temperature').text(data.main.temp);
    });
  });

  $('#Temperature').text(thermostat._temperature);

  $('#increaseTemperature').on('click', function() {
    thermostat.increaseTemperature(1);
    updateTemperature();
  });

  $('#decreaseTemperature').on('click', function() {
    thermostat.decreaseTemperature(1);
    updateTemperature();
  });

  $('#resetTemperature').click(function() {
    thermostat.resetTemperature();
    updateTemperature();
  });

  $('#powerModeOn').click(function() {
    thermostat.powerModeOn();
    $('#isPowerModeOn').text('Power Mode On');
    updateTemperature();
  });

  $('#powerModeOff').click(function() {
    thermostat.powerModeOff();
    $('#isPowerModeOn').text('Power Mode Off');
    updateTemperature();
  });

  function updateTemperature() {
    $('#Temperature').text(thermostat._temperature);
    $('#Temperature').attr('class', thermostat.tellUsUsage());
    $('#celsius').attr('class', thermostat.tellUsUsage());
  };
});

</script>
</body>
</html>
