<!DOCTYPE html>
<html>
<head>
  <title>Thermostat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="thermostat.js" type="text/javascript"></script>
  <script src="jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link href="css/style2.css" rel="stylesheet">
  <link href="css/reset.css" rel="stylesheet">
</head>
<body>
  <section class = "middle">
    <section id="usageColor" class="high-usage medium-usage low-usage">
     <h1><span id="Temperature"></span>°C</h1>
    </section>
  <section class = "tempButtons">
    <button id="increaseTemperature">+</button>
    <button id="decreaseTemperature">-</button>
    <button id="resetTemperature">↺</button>
  </section>
  <section class = "PSM">
    <label id="isPowerModeOn"> Power Saving Mode</label>
  </section>
  <section class = "PSM-buttons">
   <button id="powerModeOn">On</button>
   <button id="powerModeOff">Off</button>
  </section>
</section>

<script type="text/javascript">
$(document).ready(function() {
  var thermostat = new Thermostat();
  $('#Temperature').text(thermostat._temperature);

  $('#increaseTemperature').on('click', function() {
    thermostat.increaseTemperature(1);
    updateTemperature();
  })

  $('#decreaseTemperature').on('click', function() {
    thermostat.decreaseTemperature(1);
    updateTemperature();
  })

  $('#resetTemperature').click(function() {
    thermostat.resetTemperature();
    updateTemperature();
  });

  $('#powerModeOn').click(function() {
    thermostat.powerModeOn();
    $('#isPowerModeOn').text('ON')
    updateTemperature();
  })

  $('#powerModeOff').click(function() {
    thermostat.powerModeOff();
    $('#isPowerModeOn').text('OFF')
    updateTemperature();
  })

  function updateTemperature() {
    $('#Temperature').text(thermostat._temperature);
    $('#Temperature').attr('class', thermostat.tellUsUsage())
  }
});

</script>
</body>
</html>
